/* File Created: April 25, 2012 */
body
{
    margin: 0px;
    padding: 0px;
    background: transparent url("/images/body_bg2.png") repeat;
    font-family: Verdana, "Trebuchet MS" , Tahoma, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333333;
}

html, button, input, select, textarea {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;   
}   

a {
    text-decoration: none;
    color: #fff;
}

#topBar
{
    height: 50px;
    width: 1002px;
    background-color: #000;
    margin: 0px auto;
    top: 0px;
    border: black 1px solid;
}

#bannerWrapper
{
    background: #ccc no-repeat;
    height: 100px;
    width: 1002px;
    margin: 0px auto 0px;
}

#banner
{
    background: transparent url("/images/header_bg3.png") no-repeat -150px 0px;
    height: 100px;
    width: 100%;
}

#logoWrapper
{
    background-color: transparent;
    position: absolute;
    top: 0px;
    margin-left: 100px;
    width: 280px;
    height: 120px;
    z-index: 205;
}

#logo
{
    width: 100%;
    height: 100%;
    background: #0f3a1c url("/images/logo_bg.jpg") no-repeat;
    border: solid 1px #000;
    padding-top: 10px;
}

.logo-img
{
    display: block;
    margin: 0px auto;
}

.logo-text
{
    display: block;
    margin: 0px auto;
}

#menuWrapper
{
    position: absolute;
    z-index: 209;
    top: 140px;
    width: 1002px;
    background-color: transparent;
    margin: 0px auto;
}

#menu
{
    width: 900px;
    height: 70px;
    background: transparent url("/images/menu_bg.jpg") no-repeat;
    margin: 0px auto;
    border: solid 1px #000;
}


.shadow-5
{
    -webkit-box-shadow: 2px 2px 5px 0px #222;
    -moz-box-shadow: 2px 2px 5px 0px #222;
    box-shadow: 2px 2px 5px 0px #222;
}

.shadow-0-6
{
    -webkit-box-shadow: 0px 0px 6px #333;
    -moz-box-shadow: 0px 0px 6px #333;
    box-shadow: 0px 0px 6px #333;
}
#header
{
    width: 1000px;
    margin: 0px auto;
    padding: 0px;
    height: auto;
}

#body
{
    width: 100%;
    margin: 50px auto 0px;
}

#contentWrapper
{
    overflow: auto;
    margin: 0px auto 0px;
	width: 1000px;	
	/*border: 1px solid #BDBDBD;*/
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

#leftContent
{
    float: left;
    width: 640px;
    background: whitesmoke no-repeat;
}

#rightContent
{
    width: 238px;
    float: left;
    background: #efefef no-repeat;
    border-left: solid 2px #e0e0e0;
}

.contentBox
{
    padding: 30px;
}

.roundLeft-5
{
    border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}

.roundRight-5
{
    border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

.roundBottom-5
{
    border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.roundTop-5
{
    border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}

.menu-bar
{
    padding: 0px 20px;
    margin: 0px;
    overflow: auto;
    height: 100%;
}

.menu-bar li
{
    list-style-type: none;
    display: block;
    float: left;
    width: 150px;
    height: 50px;
    background: transparent url("/images/menu_separator.png") no-repeat left;
    padding: 5px 8px 15px;
}

.menu-bar li span
{
    display: block;
    color: #fff;
    font-family: "Comic Sans" , "Comic Sans MS" , cursive;
}

.menu-bar li a
{
    text-decoration: none;
}

.menu-bar li:hover
{
    background: #266a2e no-repeat;
}

.menu-bar li .menu-title
{
    font-size: 1.8em;
    font-weight: bold;
}

.menu-bar li .menu-info
{
    padding-left: 1px;
}

#footer
{
    background: #000;
    width: 1002px;
    margin: 10px auto 0px;
}
#footer, .push
{
    height: 150px;
}

#footer p
{
    margin: 0px;
}
