/* File Created: May 8, 2012 */
body
{
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

html, button, input, select, textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;   
}

a {
	text-decoration: none;    
}

input, textarea, iframe {
	box-shadow: 0 0 1px #aeaeae;	
	-webkit-box-shadow: 0 0 1px #aeaeae;	
	-moz-box-shadow: 0 0 1px #aeaeae;	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

iframe {
	border: 1px solid #bbb;
}

input:focus, textarea:focus {
	background-color: #FFF8E3;    
}

textarea {
	overflow-y: auto !important;
	overflow-x: hidden !important;
}


/* #region login*/
#loginInfo
{
	float: right;
	width: 210px;
	height: 30px;
	color: #fff;
	padding: 10px;
	text-align: right;
}

#loginInfo ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#loginPanel
{
	width: 300px;
	height: 210px;
	margin: 100px auto 0px;
	border: solid 1px #888;
	background-color: #fff;
	padding: 20px 30px;
	box-shadow: 0 0 6px #bbb;
	-moz-box-shadow: 0 0 6px #bbb;
	-webkit-box-shadow: 0 0 6px #bbb;
}
/* #endregion */


/* #region defaults */
.round-10
{
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
/* #endregion */


/* #region region buttons */
.buttonContainer
{
	text-align: right;
	margin-top: 15px;
	padding: 10px;
}

.button-gray.login
{
	font-weight: bold;
	display: block;
	background-color: #eaeaea;
	border: solid 1px #bbb;
	height: 3em;
	padding: 0.5em 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: right;
	margin-left: 5px;
}

.button-action
{
	font-weight: bold;
	display: block;
	background-color: #eaeaea;
	border: solid 1px #bbb;
	color: #000;
	padding: 0.5em 10px;
	height: 2em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: right;
	text-decoration: none;
	line-height: 2em;
	margin-left: 5px;
}

.button-whiteOnRed {
	font-weight: bold;
	display: block;
	background-color: #9a3334;
	border: solid 1px #9a3334;
	color: #fff;
	padding: 0.5em 10px;
	height: 2em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: right;
	text-decoration: none;
	line-height: 2em;
	margin-left: 5px;	
}

.button-whiteOnGreen 
{
	font-weight: bold;
	display: block;
	background-color: #006838;
	border: solid 1px #006838;
	color: #fff;
	padding: 0.5em 10px;
	height: 2em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: right;
	text-decoration: none;
	line-height: 2em;
	margin-left: 5px;
}

.button-whiteOnBlack 
{
	font-weight: bold;
	display: block;
	background-color: #000;
	border: solid 1px #000;
	color: #fff;
	padding: 0.5em 10px;
	height: 2em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: right;
	text-decoration: none;
	line-height: 2em;
	margin-left: 5px;
}

.button-action span
{
	display: block;
	padding-left: 20px;
	background-position: 0px 0.4em;
}
/* #endregion end buttons */


/* #region form */
.form-item
{
	padding: 4px;
	overflow: auto;
}

.form-item label
{
	display: block;
	/*float: left;*/
	padding: 1em 0px 0.5em;
	/*text-align: right;*/
	font-weight: bold;
	height: 1em;
	line-height: 0.75em;
}

.form-item input[type=text], .form-item textarea
{
	padding: 0.5em;
	border: 1px solid #bbb;
}

input[type=text].medium
{
	width: 20em;
}

input[type=text].short
{
	width: 10em;
}

input[type=text].long
{
	width: 30em;
}

input[type=text].x-long
{
	width: 50em;
}

label.short
{
	width: 80px;
}

label.medium
{
	width: 120px;
}

label.long
{
	width: 160px;
}

.error
{
	height: 1.5em;
	background-color: #666;
	font-size: 11px;
	border: 1px solid #bababa;
	padding: 4px 10px;
	color: #eee;
	margin: -4px 0px 0px 4px;
	display: none; /* must have this */
	box-shadow: 0 0 6px #ccc;
	-moz-box-shadow: 0 0 6px #ccc;
	-webkit-box-shadow: 0 0 6px #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	z-index: 99999;
}

.error p
{
	margin: 0px;
	font-weight: bold;
}
/* #endregion */


/* #region page components */
#topBarWrapper
{
	width: 100%;
	height: 50px;
	background-color: #000; /*border-bottom: solid 3px #fff;*/
}

#topBar
{
	width: 960px;
	height: 100%;
	margin: 0px auto;
	overflow: auto;
}

#logo
{
	float: left;
	width: 700px;
	height: 50px;
}

#logo img
{
	max-height: 45px;
}

.buncisBody
{
	background: #f1f1f1;
}

.buncisContent
{
	width: 960px;
	margin: 0px auto;
	padding: 10px;
}

.buncisContentHeader
{
	background-color: #fff;
	padding: 1px 20px;
	box-shadow: 0 0 6px #bbb;
	-moz-box-shadow: 0 0 6px #bbb;
	-webkit-box-shadow: 0 0 6px #bbb;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #bbb;
	margin: 2px 0px;
}

.buncisContentHeader h3
{
	font-size: 1.5em;
	margin: 0.5em 0px;
}

.buncisContentBody
{
	background-color: #fff;
	box-shadow: 0 0 6px #bbb;
	-moz-box-shadow: 0 0 6px #bbb;
	-webkit-box-shadow: 0 0 6px #bbb;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #bbb;
	margin: 2px 0px;
}

.innerContent
{
	margin-top: 10px;
	padding: 0px 20px 30px;
}

.actionContent
{
	height: 3em;
	padding: 0px 20px 5px;
	margin-top: 20px;
}

.clearFloats {
	clear: both;
}

.popup-wrapper {

}
/* #endregion */


/* #region data table */
table.data-table
{
	width: 100%;
	padding: 0px;
	margin: 10px 0px 0px 0px;
}

table.data-table thead tr th
{
	padding: 0px 0px 0px 15px;
	text-align: left;
	color: #f9f9f9;
	background-color: #000;
}

table.data-table thead tr
{
	height: 2em;
}

table.data-table tbody tr td
{
	padding: 5px 0px 5px 15px;
	text-align: left;
	border-bottom: 1px solid #aaa;
}

table.data-table tbody tr td span.info
{
	font-style: italic;
	font-size: 0.9em;
}
table.data-table tbody tr
{
	/*height: 50px;*/
	height: 4em;
	background-color: #f5f5f5;
	padding: 5px 0px;
}

table.data-table tbody tr:hover
{
	background-color: #e5e5e5 !important;
}
table.data-table tbody tr.odd
{
	background-color: #fff;
}
table.data-table tbody, table.data-table thead
{
	font-size: 1em;
}
table.data-table tbody tr td.icon-col
{
	width: 1%;
}

table.data-table td.action-col 
{
	padding: 0px 10px;
	width: 130px;
	text-align: right;
}

table.data-table td a.edit 
{
	color: #006400;
}

table.data-table td a.delete
{
	color: #8b0000;
}

table.data-table td a.edit, table.data-table td a.delete  
{
	text-decoration: none;
	display: block;
	float: right;
	font-weight: bold;
	height: 25px;
	padding: 5px 10px 5px;
	margin-left: 5px;
	line-height: 2em;
}

table.data-table td a.edit:hover, table.data-table td a.delete:hover  
{
	background-color: #cecece;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
/* #endregion end data table */


/* #region pages table */
table.data-table.table-pages tr td:nth-child(2) {
	width: 40%;
}
table.data-table.table-pages tr td:nth-child(3), table.data-table.table-pages tr td:nth-child(4) {
	width: 20%;
}
/* #endregion end pages table */


/* #region data table additional */
.tableFoot {
	height: 2em;
	padding: 0.5em;
	background-color: #c0c0c0;
}
.dataTables_info  {
	float:left;
}
.dataTables_paginate.paging_full_numbers {
	float:right;
}
.dataTables_paginate.paging_full_numbers a:hover {
	cursor: pointer;	
}
.dataTables_paginate.paging_full_numbers a.previous, 
.dataTables_paginate.paging_full_numbers a.next, 
.dataTables_paginate.paging_full_numbers a.last, 
.dataTables_paginate.paging_full_numbers a.first  {
	padding: 0px 5px;
}
.dataTables_paginate.paging_full_numbers span a.paginate_active, 
.dataTables_paginate.paging_full_numbers span a.paginate_button 
{
	padding: 0px 5px;
}
.dataTables_paginate.paging_full_numbers span a.paginate_active {
	font-weight: bold;
}
/* #endregion end data table additional */


/* #region form pages */
.left, .right {
	float: left;    
}
.right {
	padding-left: 20px;
}
/*
.form-page textarea {
	overflow: scroll;
}*/
div.hasHtmlArea {
	padding: 4px 20px 4px 4px;
}
/* #endregion end form pages */


/* #region News  */
.news-list-wrapper {
	padding: 0px 0px;
}
.news-list-wrapper ul {	
	list-style-type: none;
	padding: 0px;
}
.news-list-wrapper ul li {
	display: block;
	padding: 10px;
	border: solid 1px #ccc;
	margin: 5px 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.news-list-wrapper ul li:hover {
	background-color: #ddd !important;
	cursor: pointer;
}
.news-list-wrapper ul li.edited {
	background: transparent url(/images/icons/ico-news-status-edited.png) no-repeat right bottom;
}
.news-list-wrapper ul li.added {
	background: transparent url(/images/icons/ico-news-status-new.png) no-repeat right bottom;
}
.news-title {
	font-weight: bold;
	/*width: 80%;*/
}
.news-teaser {
	margin: 5px 0px 0px 0px;
	/*width: 80%;*/
}
.news-dates {
	padding: 5px 0px 0px;
	font-size: 0.85em;
	font-style: italic;
}
.news-dates span {	
	padding: 0px 0px 0px 0px;
}
.news-action-info {
	min-height: 50px;
}
/*
.news-recently-added {
	background: transparent url(/images/icons/ico-news-status-new.png) no-repeat;
}
.news-edited {
	background: transparent url(/images/icons/ico-news-status-edited.png) no-repeat;
}
*/
/* #endregion */


/* #region Articles */
.article-item-wrapper {
	display: block;
	list-style-type: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: solid 1px #ccc;
	background-color: #eee;
	width: 800px;
	margin: 5px 0px 0px 0px;
	padding: 10px;
}
.article-item:hover {
	background-color: #ccc;
	cursor: pointer;
}
.article-title {
	font-weight: bold;
}
.article-info {
	font-style: italic;
	font-size: 0.9em;
	margin: 5px 0px 0px 0px;
}
.cloned-view-template {
	margin-top: 10px;
	padding-top: 10px;
	border-top: solid 1px black;
}
/* #endregion */


/* #region list */
.list-action {
	float: right;
	height: 20px;
}
.list-action a {
	display: block;
	float: right;
	padding: 5px 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.list-action a:hover {
	background-color: #bbb;
}
/* #endregion */


/* #region colorbox custom */
.popup-button-wrapper {
	margin: 0px !important;
	padding: 0px !important;
	height:40px;
	position: relative;
}
/* #endregion end colorbox custom */


/* #region icons */
.icon
{
	display: block;
	max-width: 16px;
	max-height: 16px;
	width: 16px;
	height: 16px;
	text-decoration: none;
}

.icon-pages
{
	background-image: url("/images/icons/attibutes.png");
	background-repeat: no-repeat;
}

.icon-home
{
	background-image: url("/images/icons/home.png");
	background-repeat: no-repeat;
}

.icon-plus
{
	background-image: url("/images/icons/plus.png");
	background-repeat: no-repeat;
}

.icon-wallclose 
{	
	background-image: url("/images/icons/close_exit_delete.png");
	background-repeat: no-repeat;
	background-size: 32px 32px;
	display: block;    
	width: 32px;
	height: 32px;
	text-decoration: none;       
}
/* #endregion end icons */


/* #region colorbox loading */
.loading 
{    
	font-weight: bold;
	background-color: #cdcdcd;
	margin: 0px;
	padding: 10px;
	height: 32px;
	width: 160px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #444;
}

.loading span 
{
	display:block;
	float: left;	
	height: 32px;
	padding: 0px 20px;
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
}

.loading img 
{
	float:left;
}
/* #endregion end colorbox loading */


/* #region custom error summary */
#errors {
	display: none;
	position: fixed;
	z-index: 2147483645;
	top: 0;
	right: 0;
	padding: 20px;
}

.wallWrapper 
{
	z-index: 2147483646;
	background-color: #F2DEDE;
	color: #B94A48;
	padding: 20px 20px;	
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;	
	box-shadow: 0 2px 10px #323232;
	-moz-box-shadow: 0 2px 10px #323232;
	-webkit-box-shadow: 0 2px 10px #323232;
}

.wall-close {
	position: fixed;
	top: 5px;
	right:5px;
	z-index: 2147483647;
}

/* #endregion end custom error summary */


/* #region JQuery UI Override */

#ui-datepicker-div {
	z-index: 99999!important;	
	font-size: 12px!important;
}

/* #endregion */