.buncisBody {
	background: #fff;
}

#topBarWrapper {	
	
}
#loginPanel {
	border: solid 1px #E1E1E8;
	margin-top: 30px;
}
#loginInfo {
	margin-top: 10px;
	padding: 20px;
	color: #000;
	text-align: right;
}
#loginInfo ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.error {
	height: 1.5em;
	margin-left: 15px;
}
.error p {
	margin: 0px;
	font-weight: bold;
}
label {
	font-weight: bold !important;
}
body .popup-wrapper {    
    width: 940px;    
    margin: -280px 0 0 -480px;
}