body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt, dd, img, form, fieldset, blockquote
{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body
{
    font-family: "Trebuchet MS" , Arial, Sans-Serif;
    font-size: 10px;
}
.container
{
    width: 960px;
    margin: 0 auto;
}

p#login
{
    float: right;
    width: 50%;
    margin-top: 5px;
}

p#language
{
    float: right;
    background: url(/assets/images/icons/ico_english.png) no-repeat 0px 2px;
    width: 16px;
    margin: 5px 2px 5px 20px;
    height: 20px;
}

/**** top bar ****/
#top_bar
{
    overflow: hidden;
    padding-top: 7px;
    padding-bottom: 7px; 
    text-align: right;
    margin: 0px auto;
    background-color: #EDEDED;
}

#top_bar p
{
    font-size: 1.2em;
    color: #045634;
}

#top_bar a
{
    font-size: 1.2em;
    color: #045634;
    text-decoration: none;
}
/**** end top bar ****/

#header
{
    margin: 0px auto;
    background-color: #FCFEFC;
}

#branding
{
    background: url(/assets/images/sites/logo.gif) no-repeat 0px -70px;
    height: 300px;
    margin-bottom: -120px;
}


/******* Menu ******/
ul.menu ul.submenu li:hover>ul 
{
    left: 150px;
    top: -40px;
}

ul.menu
{
    list-style: none;
    position:relative;
}

ul.menu ul
{
    display: none;
    position: relative;
}

ul.menu li:hover>ul
{
    display: block;    
    left: 0px;
    top: 0px;
}

ul.menu li:hover
{
    background-color: #364C20;
}

ul.menu ul li
{
    float: none;
    border-top:solid 1px #fff;
}

ul.menu li a
{
    font-size: 1.3em;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 12px 12px 0px 20px;
    background-color: #43592D;
    display: block;
    text-align: left;
    height: 28px;
}

ul.menu li a:hover
{
    background-color: #364C20;
}

ul.menu li
{
    float: left;
    padding: 0px;
    margin: 0px;
    width: 150px;
    display:block;
    height: 40px;
    z-index: 999;
    border-right:solid 1px #fff;
}

a.menu-selected
{
    background-color: #718630 !important;
}

#navigation
{
    border-top: 2px solid #43592D;
    border-bottom: 2px solid #43592D;
    background-color: #E5E9D7;
    padding: 0px;
    margin: 0px;
    height:40px;
}
/******* End Menu ******/

#content
{
    overflow: hidden;
}

#content-wrapper
{
    background-color: #FFFFFF;
}

#maincontent
{
    float: right;
    width: 64%;
    margin: 25px;
}

#maincontent h2
{
    margin: 10px 0px 4px 0px;
    font-size: 2.4em;
}

#maincontent p
{
    line-height: 1.4em;
    font-size: 1.2em;
    padding: 7px 0px;
}

#sidebar
{
    float: left;
    width: 24%;
    background: #d8ddd1;
    padding: 25px 3%;
    margin-bottom: -4975px;
    padding-bottom: 5000px;
}

#sidebar h3
{
    font-size: 1.6em;
    color: #3c3f40;
    margin-top: 15px;
}

#sidebar ul
{
    list-style: none;
    margin-left: 20px;
}

#sidebar ul li
{
    font-size: 1.2em;
    line-height: 1.8em;
}

#sidebar ul li a
{
    text-decoration: none;
    color: #525254;
}


/**** Footer ****/
#footer p
{
}

#footer h4
{
    color: #045634;
    font-size: 1.4em;
    padding-top: 0;
    padding-bottom: 5px;
}

#footer ul
{
    list-style: none;
    margin-left: 0;
}

#footer ul li
{
    padding: 2px 0px;
}

#footer ul li a
{
    text-decoration: none;
    color: #525254;
}

#footer
{
    font-size: 1.2em; 
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    height: auto; 
    background-color: #EDEDED;
}

#footer_content
{
}

#copyright
{
    float: right;
    width: 20%;
    text-align: right;
}

#copyright p
{
    color: #397552;
    font-weight: bold;
}

#links
{
    float: left;
    width: 40%;
}

#feeds
{
    float: left;
    width: 40%;
}
/**** end footer ****/

input, textarea, select
{
    font-size: 1.2em;
    display: inline-block;
    width: 210px;
    height: 2.0em;
    padding: 4px;
    line-height: 1.8em;
    color: #656565;
    border: 1px solid #CCC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "Trebuchet MS" , Arial, Sans-Serif;
}
