.product-search
{
    font-size: 1.2em;
}

.search-filter
{
    text-align: right;
}

.search-buttons
{
    margin: 10px 0px;
    text-align: right;
}

a.button
{
    color: #777;
    font-weight: bold;
    height: auto;
    line-height: 2.0em;
    margin-bottom: 14px;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #dcdcdc;
    background-color: #ededed;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0px 1px 0px 0px #fff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fff;
    box-shadow: inset 0px 1px 0px 0px #fff;
    padding: 0px 10px 0px 0px;
    font-size: 1.2em;
}
a:hover.button
{
    color: #666;
    background-color: #dfdfdf;
}