<?xml version="1.0"?>
<services>
  <service name="Buncis.Web.WebServices.Pages">
	<endpoint address="" 
			  binding="webHttpBinding" 
			  contract="Buncis.Web.WebServices.Contracts.IPages" 
			  bindingConfiguration="sslBinding" />
  </service>
	<service name="Buncis.Web.WebServices.News">
		<endpoint address=""
				  binding="webHttpBinding"
				  contract="Buncis.Web.WebServices.Contracts.INews"
				  bindingConfiguration="sslBinding" />
	</service>
	<service name="Buncis.Web.WebServices.Articles">
		<endpoint address=""
				  binding="webHttpBinding"
				  contract="Buncis.Web.WebServices.Contracts.IArticles"
				  bindingConfiguration="sslBinding" />
	</service>
	<service name="Buncis.Web.WebServices.DailyBreads">
	  <endpoint address=""
				binding="webHttpBinding"
				contract="Buncis.Web.WebServices.Contracts.IDailyBreads"
				bindingConfiguration="sslBinding" />
	</service>
</services>