<?xml version="1.0"?>
<services>
  <service name="Buncis.Web.WebServices.Pages">
    <endpoint address="" binding="webHttpBinding" bindingConfiguration="sslBinding"
      contract="Buncis.Web.WebServices.Contracts.IPages" />
  </service>
  <service name="Buncis.Web.WebServices.News">
    <endpoint address="" binding="webHttpBinding" bindingConfiguration="sslBinding"
      contract="Buncis.Web.WebServices.Contracts.INews" />
  </service>
  <service name="Buncis.Web.WebServices.Articles">
    <endpoint address="" binding="webHttpBinding" bindingConfiguration="sslBinding"
      contract="Buncis.Web.WebServices.Contracts.IArticles" />
  </service>
  <service name="Buncis.Web.WebServices.DailyBread">
    <endpoint address="" binding="webHttpBinding" bindingConfiguration="sslBinding"
      contract="Buncis.Web.WebServices.Contracts.IDailyBread" />
  </service>
</services>