<?xml version="1.0"?>
<configuration>
	<startup>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
				<!-- Assembly versions can be redirected in application, publisher policy, or machine configuration files. -->
				<bindingRedirect oldVersion="1.0.3.0" newVersion="2.5.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
